body {
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content li:nth-child(odd) {
  background: #f2f2f2;
}

.dropdown-content a:hover:nth-child(odd) {
  background-color: rgba(0,85,155,0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.container {
  width: 80%;
}

@media screen and (max-width: 450px) {
  .banana {
    display: none;
  }
}